<!DOCTYPE html>
<html lang="en">
<head>
    {% include '@CurtisTemplate/Layout/styles.html.twig' %}
    {% block stylesheet %}{% endblock %}
</head>

<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<body>


<div class="sb-site-container">
    <div class="boxed">

        {% include '@CurtisTemplate/Layout/navigation.html.twig' %}

        {% block breadcrumbs %}{% endblock %}

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {% block body %}{% endblock %}
                </div> <!-- col-xs-12 -->
            </div> <!-- row -->
        </div> <!-- container  -->

        {#{% include '@CurtisTemplate/Layout/footer.html.twig' %}#}

    </div> <!-- boxed -->
</div> <!-- sb-site -->


{% block javascript %}{% endblock %}
{% include '@CurtisTemplate/Layout/javascript.html.twig' %}

</body>

</html>