{% extends '@CurtisTemplate/Layout/base.html.twig' %}

{% block breadcrumbs %}
    <header class="main-header">
        <div class="container">
            <h1 class="page-title">Slovensko</h1>

            {#<ol class="breadcrumb pull-right">#}
                {#<li><a href="#"></a></li>#}
                {#<li class="active"></li>#}
            {#</ol>#}
        </div>
    </header>
{% endblock %}

{% block body %}
    <iframe style="width:1100px;height:800px;" src="https://www.google.com/maps/d/embed?mid=1KyPQrPJ-64PvFq1_yaxoWuVkRSQ"></iframe>
{% endblock %}